<header>
    {{!-- <h1>{{mainTitle}}</h1> --}}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/appearance">Appearance</a></li>
            <li><a href="/personality">Personality</a></li>
            <li><a href="/story">Story</a></li>
            <li><a href="/links">Links</a></li>
        </ul>
    </nav>
</header>